body {
    background-color: rgba(255, 191, 52, 0.705);
    background-image: url(../Imagenes/fondo.jpg);
    background-attachment: fixed;
    font-family: Roboto;
}
@font-face {
    font-family: "calibri";
    src: url("../Fuentes/calibri.ttf")format("truetype");
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #000066;
    flex-wrap: wrap
}

.iconos_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.icono_logo {
    width: 200px;
    margin: 40px;
}

.icono_redes_header {
    width: 40px;
    margin: 20px;
}

.mapa_ubicacion {
    width: 20vw;
    margin: 2vh;
    margin-right: 5px;
    margin-left: 5px;
}

.destacado {
    color: orange;
    text-align: center;
    background-color: #000066;
}

.encabezado {
    font-size: 500%;
}

.subtitulo {
    color: #000066;
    text-align: center;
    background-color: orange;
}

.descripcion_1 {
    text-align: center;
    font-size: x-large;
}

.imagen_1 {
    text-align: center;
}

.parrafo_1 {
    font-size: larger;
    text-align: justify;
}

.items {
    font-size: larger;
    display: flex;
    justify-content: center;
}

.texto_azul_centrado {
    color: #000066;
    text-align: center;
}

footer {
    background-color: orange;
    text-align: center;
    flex-wrap: wrap
}

.icono_whatsapp {
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 30px;

}

.icono_redes_footer {
    width: 40px;
    margin: 10px;
    flex-wrap: wrap
}

.iconos_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dev_info {
    display: flex;
    align-items: center;
    width: 300px;
}

.caja {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 115, 0, 0.692);
}

.fotito {
    width: 100%;
    height: 100%;
}

.tituloconta {
    font-family: "calibri";
}

.lorem {
    font-family: 'Montserrat', sans-serif;
}

.link_nav {
    display: flex;
    justify-content: space-around;
}

.caja_objetos {
    display: flex;
    justify-content: center;
}

.objeto {
    margin: 10px;
}

.microfono {
    margin: 10px;
}


@media (max-width: 700px) {
    body {
        background: rgba(199, 239, 255, 0.904);
    }
}

@media (max-width: 700px) {
    .objeto {
        display: none;
    }
}

@media (min-width: 700px) {
    .microfono {
        display: none;
    }
}

